@model MyMath

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form method="post">
N1: <input type="text" id="n1" asp-for="N1" /><br />
N2: <input type="text" id="n2" asp-for="N2" /><br />
Result: <input type="text" id="result" asp-for="Result"/><br /> <input type="submit" name="submit" value="Add" /><br />
    </form> 
</div>